.projectPostContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.projectPost {
    max-width: 800px;
    width: 100%;
}

.projectHeader{
    text-align: center;
    margin-bottom: 20px;
}
.projectTitle {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.projectDate {
    font-size: 1rem;
    color: #666;
} 


.projectImage {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    border:#ddd solid 1px;
    border-radius: 8px;
}

.projectContent {
    font-size: 1.125rem;
    line-height: 1.6;
}
.projectFooter{
    margin-top: 40px;
    text-align: center;
}