.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  border-bottom: 1px solid #000000;
  background: #000000;
  font-family:monospace;
  border-top: 5px solid #43bfec;
  border-bottom: 5px solid #43bfec;
}

.logo a {
  font-weight: 700;
  text-decoration: none;
  color: white;
  font-size:16px;
  font-weight: bolder;
  &:hover {
    text-decoration: underline;
  }
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  align-items: center;
  color:white
}

.navList a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight:bold;
}
.navList a:hover {
  text-decoration: underline;
}